<%= render partial: "layouts/errors", locals: { object: booking } %>
<%= form_for @booking do |f| %>
<%= render partial: "bookings/cleaner_fields", locals: { object: booking } %>
  <!-- <div class="field">
    <p>
      <%#= f.label :Date %>
       <%#= f.text_field :booking_time, :placeholder => 'dd/mm/yyyy',class: "datepicker",:ignore_time => true %>
        <%#= date_select :booking_time, class: "datepicker" %>
    </p>
  </div> -->

  <%#= f.label :hour  %>
  <%#= f.time_select :booking_hour, :ignore_date => true %>
  <div class="field">
    <p>
    <%= f.label :date %><br>
    <%= f.datetime_select :booking_time %></p>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.select :duration ,(1..4).to_a %>
  </div>

  <!-- <div class="field">
    <p>
      <%#= f.label :duration %> 
      <%#= duration_hour_field("booking[duration][hour]", booking) %>
      <%#= duration_minute_field("booking[duration][min]", booking) %>
    </p>
</div> -->

  
  <%= render partial: "bookings/city_fields", locals: { object: booking } %>
  <p><%= f.submit %></p>
<% end %>


 
  




  